@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DeliveryNote-Regular";
    src: url('assets/fonts/DeliveryNoteRegular/font.woff2') format('woff2'), url('assets/fonts/DeliveryNoteRegular/font.woff') format('woff');
  }
  @font-face {
    font-family: "MohrAlt-Light";
    src: url('assets/fonts/MohrAltLight/font.woff2') format('woff2'), url('assets/fonts/MohrAltLight/font.woff') format('woff');
  }